body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button{
    margin: 3px;
}

.season_seasonContainer{
    width: 650px;
}

.gridRow{
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 30px 30px 230px repeat(8, 30px) 30px 40px 35px;
}
.gridsquare{
    border: 1px solid black;
    width: auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
.logo{
    height: 25px; 
    padding-left: 5px;
}

.goalInput{
    width: 30px;
    display: inline-block;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

select{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.gridContainer{
    margin: 10px;
    margin-top: 20px;
    max-height: 350px;
    overflow: auto;
    width: 660px;
}

#divMatch{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

h3{
    margin-left: 10px;
}

#saveButton{
    margin-left: 10px;
}

.teamLogo{
    max-height: 100%;
    width: auto;
    display: flex;
    margin: auto;
}

.teamLogoContainer{
    height: 20px;
    width: 45px;
    display: inline-block;
}

.teamName{
    width: 200px;
    position: relative;
    bottom: -10px;
    text-align: center;
    display: inline-block;
}

.teamNamePS{
    width: 180px;
    text-align: center;
    display: inline-block;
}

.form{
    position: relative;
    text-align: center;
    display: block;
}

.formGame{
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    width: 18px;
    border: 1px black solid;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
}

#spanVS{
    margin-left: 9px;
    margin-right: 10px;
}

.goBack{
    position: absolute;
    right: 20px;
    bottom: 100px;
}

.gamesDiv{
    max-height: 228px;
    overflow: auto;
    width: 670px;
}

.season_gameContents{
    display: flex;
}

.previousTrades{
    margin-left: 70px;
    margin-top: 10px;
    height: 210px;
    overflow-y: auto;
}

.season_powerRankingsGrid{
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: 30px 30px 230px 290px 60px 120px;
}
.season_powerRankingsElement{
    border: 1px solid black;
    width: auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
.season_powerRankingsElementMatch{
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 18px;
    height: 20px;
    border: 1px black solid;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
}
.season_powerRankingsContainer{
    margin-left: 70px;
    height: 511px;
    overflow-y: auto;
    overflow-x: hidden;
}

.season_powerRankingsHoverup{
    display: none;
    position: relative;
    min-width: 240px;
    max-width: 300px;
    width: fit-content;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid;
    right: 120px;
    bottom: 68px;
}

.season_powerRankingsElementMatch:hover > div{
    display: block;
}

.season_powerRankingsHoverupMatch{
    display: inline-flex;
}

.season_powerRankingsHoverupMatchElement{
    margin: 5px;
}



/* Navigation Menu */

 .menu {
    position: absolute;
    right: 20px;
 }

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  /* dice */
.dice{
    border: 2px solid black;
    border-radius: 2px;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.die{
    display: flex;
    position: absolute;
    right: 150px;
    top: 400px;
  }


/* records.js */
.recordsFlex{
    display: inline-flex;
    flex-wrap: wrap;
    max-height: 580px;
    overflow: auto;
}

.pastSeasonWinnerUI{
    max-height: 378px;
    width: 470px;
    overflow: auto;
}
.gridRowWinners{
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 200px 200px;
}
.gridSquareWinners{
    border: 1px solid black;
    width: auto;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.logo{
    height: 25px; 
    padding-left: 5px;
}

.recordUI{
    max-height: 378px;
    width: 270px;
    overflow: auto;
}
.gridRowRecords{
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 50px;
}
.gridSquareRecords{
    border: 1px solid black;
    width: auto;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
}

/* draft.js */
.draftRoundRow{
    display: inline-grid;
    grid-auto-flow: line;
    grid-template-columns:repeat(12, 50px);
    width: 100%;
}
.draftRoundSquare{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.draftGrid{
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: 50px 100px 200px 200px 50px;
}
.draftGridSquare{
    border: 1px solid black;
    display: flex;
    height: 30px;
    align-items:center;
    justify-content:center;
}


/* team.js */
.team_teamName{
    height: auto;
    text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.team_teamLogo{
    height: auto;
    text-align: center;
    max-width: 300px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.team_teamInfos{
    display: grid;
    grid-template-columns: 150px 200px;
    margin-left: 10px;
    height: 170px;
}

.team_teamInfosSquare{
    border: 1px solid black;
    text-align: center;
}

.team_otherInfoFlex{
    display: inline-flex;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.team_previousYearsContainer{
    width: 315px;
    height: 400px;
    border: 1px black solid;
    overflow: auto;
}

.team_picksPerYearContainer{
    margin-left: 5px;
    margin-top: 5px;
}

.team_matchesContainers{
    width: 315px;
    height: 400px;
    border: 1px black solid;
}

.team_drafts{
    width: 315px;
    height: 400px;
    border: 1px black solid;
}

.team_draftInfo{
    height: 360px;
    overflow-y: auto;
}

.team_noDraft{
    margin: auto;
    width: fit-content;
    margin-top: 5px;
}

.team_teamTitle{
    text-align: center;
}

.team_draftClass{
    display: grid;
    grid-template-columns: 50px 60px 150px 30px;
    margin-left: 11px;
    margin-right: 11px;
}

.team_draftedPlayer{
    text-align: center;
}

.team_previousYears{
    display: grid;
    grid-template-columns: 80px 110px 105px;
    border-bottom: 1px solid black;
}

.team_previousYearsSquare{
    border-left: black 1px solid;
    border-right: black 1px solid;
}

.team_previousMatchesContainers{
    display: grid;
    grid-template-columns: 55px 60px 25px 30px 25px 60px 55px;
}

.team_previousMatchesContainersSquare{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.team_nextFiveMatches{
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
}

.team_lastFiveMatches{
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
}

.team_prospectPoolContainer{
    width: 280px;
    height: 400px;
    border: 1px black solid;
}

.team_prospectPoolGrid{
    display: grid;
    grid-template-columns: 50px 200px;
    width: fit-content;
    margin: auto;
}

.team_prospectPoolElement{
    text-align: center;
}

.team_teamLogoPicks{
    max-height: 20px;
}

.team_roundPicks{
    display: inline-flex;
}

.team_teamParenthesis{
    display: inline-block;
}

/* teamChoice.js */

.teamChoice_team{
    max-width: 40px;
    max-height: 30px;
    position: absolute;
    opacity: 0.8;
}

.teamChoice_team:hover{
    max-width: 50px;
    max-height: 40px;
    opacity: 1;
}

/* seasonPanel.js */

.seasonPanel_winProbabilitiesRowSquare{
    display: flex;
    align-items: center;
}

/*event.js*/
.eventContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    position: absolute;
    background-color: white;
    top: 20%;
    left: 20%;
    border-radius: 5px;
}

.eventBackground{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.5;
    background-color: grey;
}

.event_eventName{
    margin-left: auto;
    margin-right: auto;
}

.event_eventContainee{
    margin-left: 10px;
    margin-top: 10px;
}

/* loader */
.lds-roller {
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 44.5%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3399ff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
